<div class="row h-100">
    <div class="col-sm-12 my-auto">
        <div style="margin: auto; margin-top: 10%; width: 400px" class="card card-block">
            <div class="card">
                <div class="card-body">
                    <div class="logo text-center">
                        <img src="client/images/depdikbud.png" alt="">
                    </div>
                    <form ng-submit="login(model)">
                        <h3 class="mb-3">Sign In</h3>
                        <div class="form-group">
                            <input class="form-control " id="username" ng-model="model.Username" required type="text"
                                placeholder="Username" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input ng-model="model.Password" required class="form-control " id="password"
                                type="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<style>
    .logo {
        padding: 10px;
    }

    img {
        margin-top: 10px;
        width: 100px;
        height: 100px;

    }


    form {
        padding: 20px 40px 40px 40px;

    }
</style>