<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" ui-sref="adminsuper-home">SMA YPK DIASPORA KOTARAJA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <userlogin></userlogin>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="siswa">
        <div class="siswa-logo">
            <img src="/client/images/ypk.png" alt="">
        </div>
        <div class="siswa-header">
            <h2>SMA YPK DIASPORA KOTARAJA</h2>
            <h4>Jalan Lintas Liwa No 16, Kotaraja </h4>
            <h4>KOTA JAYAPURA - PAPUA 99225</h4>
        </div>

        <div class="siswa-body">
            <h5> Dengan ini kami menyatakan anda :</h5>

            <h1>{{siswa.biodata.nama}}</h1>
            <h1>LULUS </h1>
        </div>

        <div class="siswa-download">
            <a href="/client/berkas/{{siswa.biodata.Berkas}}" target="_blank" class="btn btn-success">DOWNLOAD</a>
        </div>


    </div>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2020 <a href=""></a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>